:root {
  --primary-bg: white;
  --primary-color: black;
  --primary-button-bg: blue;
  --primary-button-color: white;
  --secondary-bg: rgb(22, 19, 19);
  --secondary-color: white;

}

.main {

  height: 100vh;
  width: 100%;
  display: flex;
  gap: 10px;

}

.sidebar {
  grid-area: "sidebar";
  background-color: var(--primary-bg);

  width: 18%;
}

.right-cont {
  width: 82%;
  height: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.header {

  height: 80px;
  background-color: var(--primary-bg);
  width: 100%;
}


.content {
  grid-area: "content";
  width: 100%;
  background-color: var(--primary-bg);
  height: calc(100% - 80px);
}